@font-face {
  font-family: "GenSenMaruGothicTW-Regular";
  src: local("GenSenMaruGothicTW-Regular"),
  url("./assets/fonts/GenSenMaruGothicTW-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GenSenMaruGothicTW-Bold";
  src: local("GenSenMaruGothicTW-Bold"),
  url("./assets/fonts/GenSenMaruGothicTW-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "GenSenMaruGothicTW-Regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
